.header {
  height: 100px;
  background-color: aqua;

  display: flex;
  justify-content: space-around;
  align-items: center;

  color:white;
  text-transform: uppercase;
  font-size: 35px;

  &__auth-block{
    button {
      margin: 0 10px;
    }
  }
}